.contact-p {
    font-size: 1.4rem;
    font-family: "EtruscoNowCondensed";
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1100px;
    margin: 0rem auto;
    border: #333 solid 1px;
    padding: 2rem 3rem;
    border-radius: 12px;
    background-color: #e0e0e0;
}
.contact-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}
.contact-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-form button:hover {
    background-color: #0056b3;
}
.contact-form label {
    font-size: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
    .contact-form {
        max-width: 600px;
    }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
    .contact-form {
        max-width: 800px;
    }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
.recaptcha-container {
    transform: scale(0.75); /* Adjust scale as needed */
    transform-origin: top left;
  }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
.recaptcha-container {
    transform: scale(0.50); /* Adjust scale as needed */
    transform-origin: top left;
  }
}