.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.footer-logo-img {
    max-width: 300px;
}
.footer-nav-list li {
    list-style: none;
}
.footer-sub-link, .footer-nav-list, .footer-nav-link {
    font-family: "EtruscoNowCondensed";
    text-decoration: none;
    font-size: 1.2rem;
  list-style: none;
  color: rgb(233, 247, 89);
}
.footer-nav-link-view {
    font-family: "EtruscoNowCondensed";
    text-decoration: underline;
    font-size: 1.2rem;
  list-style: none;
  color: #ffffff;
}
.footer-sub-link:hover, .footer-nav-link:hover{
    color: #fff;
}
.footer-sub-link-view {
    color: #ffffff;
    text-decoration: underline;
}
.footer-nav h3, .services-nav h3 {
    font-size: 2rem; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-nav-social-link {
    font-size: 4rem;
    color: rgb(233, 247, 89);
}
.footer-copyright {
    padding: 10px 0;
    text-align: center;
}
.footer-copy-p {
    font-size: 1rem;
    font-family: "Bank Sans EF Condensed";
}
.footer-face
 {
    color: rgb(233, 247, 89);
    text-decoration: none;
}
.footer-face:hover, .footer-nav-social-link:hover {
    color: #fff;
}
.main-footer-quote-link {
    font-family: "Bank Sans EF Condensed";
    text-decoration: none;
    font-size: 2rem;
    list-style: none;
    background-color: rgb(233, 247, 89);
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: background-color .3s ease;
}
.main-footer-quote-link:hover {
    background-color: #fff;
}
@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .footer-container {
        gap: 2rem;
    }
    .footer-nav-link {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
    .footer {
        padding: 0;
    }
    .footer-logo-img {
        max-width: 180px;
    }
    .main-footer-quote-link {
        font-size: 1rem;
    }
    .footer-container {
        gap: 0.5rem;
    }
    .footer-nav h3, .services-nav h3 {
        font-size: 1.5rem;
    }
    .footer-nav-link, .footer-nav-link-view {
        font-size: 1rem;
    }
.footer-nav-social-link {
    font-size: 3rem;
}
.footer-copy-p {
    font-size: 0.7rem;
}
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
    .footer {
        padding: 0;
    }
    .footer-logo-img {
        max-width: 180px;
    }
    .main-footer-quote-link {
        font-size: 1rem;
    }
    .footer-container {
        gap: 0.5rem;
    }
    .footer-nav h3, .services-nav h3 {
        font-size: 1.5rem;
    }
    .footer-nav-link {
        font-size: 1rem;
    }
.footer-nav-social-link {
    font-size: 3rem;
}
.footer-copy-p {
    font-size: 0.7rem;
}
}
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
    .footer-container {
        gap: 1rem;
    }
    .footer-logo-img {
        width: 230px;
    }
    .footer-nav h3, .services-nav h3 {
        font-size: 1.7rem;
    }
    .footer-sub-link, .footer-nav-list, .footer-nav-link {
        font-size: 1.2rem;
    }
    .main-footer-quote-link {
        font-size: 1.5rem;
        margin: 0;
    }
    .footer-nav-social-link {
        font-size: 3.3rem;
    }
    .footer-copy-p {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
    .footer-container {
        gap: 1rem;
    }
    .footer-logo-img {
        width: 230px;
    }
    .footer-nav h3, .services-nav h3 {
        font-size: 1.7rem;
    }
    .footer-sub-link, .footer-nav-list, .footer-nav-link {
        font-size: 1.2rem;
    }
    .main-footer-quote-link {
        font-size: 1.5rem;
        margin: 0;
    }
    .footer-nav-social-link {
        font-size: 3.3rem;
    }
    .footer-copy-p {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
    .footer-container {
        gap: 1rem;
    }
    .footer-logo-img {
        width: 200px;
    }
    .footer-nav h3, .services-nav h3 {
        font-size: 1.5rem;
    }
    .footer-sub-link, .footer-nav-list, .footer-nav-link {
        font-size: 1rem;
    }
    .main-footer-quote-link {
        font-size: 1.2rem;
        margin: 0;
    }
    .footer-nav-social-link {
        font-size: 3rem;
    }
    .footer-copy-p {
        font-size: 0.6rem;
    }
}
