.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.header-nav {
    display: none;
}
.header-nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 8rem;
}
.sub-header-nav-list {
    background-color: #555555;
    border-radius: 6px;
    box-shadow: none;
    display: none;
    flex-direction: column;
    left: 7%;
    line-height: 3rem;
    list-style: none;
    padding: 1rem;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 80%;
}
.quote-dropdown:hover .sub-header-nav-list{
    display: flex;
    text-decoration: none;
}
.header-nav-logo {
    max-width: 200px;
}
.sub-header-nav-list li {
    position: relative;
}
.header-nav-social-list, .admin-options {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-quote-link, .btn-main .main-nav-link-view, .main-nav-link {
        font-family: "Bank Sans EF Condensed";
    text-decoration: none;
    font-size: 2rem;
    list-style: none;
    background-color: rgb(233, 247, 89);
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: background-color .3s ease;
}
.btn-main:hover, .main-quote-link:hover {
    background-color: #fff;
}
.main-header-nav-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.main-header-nav-list li {
    list-style: none;
}
.main-link  {
    font-family: "EtruscoNowCondensed";
    text-decoration: none;
    font-size: 2rem;
  list-style: none;
}
.sub-link {
font-family: "EtruscoNowCondensed";
    text-decoration: none;
    font-size: 2rem;
  list-style: none;
  color: rgb(233, 247, 89);
}
.sub-link-view {
    color: #ffffff;
    text-decoration: underline;
    font-size: 2rem;
  list-style: none;
  font-family: "EtruscoNowCondensed";
}
.main-link {
    color: rgb(233, 247, 89);
}
.main-link-view {
    color: rgb(255, 255, 255);
}
.main-link-view {
    text-decoration:underline;
    font-family: "EtruscoNowCondensed";
    font-size: 2rem;
  list-style: none;
}
.main-link:hover {
    color: #fff;
    text-decoration:underline;
}
.sub-link:hover {
    color: #fff;
    text-decoration:underline;
}
.header-nav-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.header-nav-social-link {
    font-size: 4rem;
    color: rgb(233, 247, 89);
}
.header-nav-social-link:hover {
    color: #fff;
}   
.header-nav-toggle {
        background-color: rgb(233, 247, 89);
    border: none;
    border-radius: 6px;
    color: #000000;
    display: none;
    font-size: 15px;
    margin-left: 50px;
    padding: 10px 20px;
    text-align: center;
}
@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .header-nav-list  {
        gap: 2rem;
    }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
    .header-nav-list {
        gap: 10px;
    }
    .header-nav-logo {
        max-width: 100px;
    }
    .main-header-nav-list {
        gap: 1rem;
    }
    .main-link-view, .main-link {
        font-size: 1rem;
    }
    .header-nav-social-link {
        font-size: 2rem;
    }
    .main-quote-link {
        font-size: 1rem;
    }
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
    .header-nav-list {
        gap: 10px;
    }
    .header-nav-logo {
        max-width: 100px;
    }
    .main-header-nav-list {
        gap: 1rem;
    }
    .main-link-view, .main-link {
        font-size: 1rem;
    }
    .header-nav-social-link {
        font-size: 2rem;
    }
    .main-quote-link {
        font-size: 1rem;
    }
}
 @media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
     .header {
        position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    }
    .header-nav {
 display: flex;
        flex-direction: row;
        height: auto;
        justify-content: end;
        width: 100%;
  }
  .header-nav-toggle{
    height: 2rem;
    width: 3.5rem;
    text-align: center;
            display: block;
  }
   .header-nav-list {
    display: none; /* Hide menu by default */
flex-direction: column;
position: absolute;
top: 50px; /* Position below header */
left: 0;
width: 100%; /* Full-width menu */
background-color: #333;
z-index: 1000; /* Ensure it appears above content */
padding: 10px 0;
border-top: 1px solid #555; /* Optional styling */
gap: 1rem;
  }
  .main-link-view, .main-link {
    font-size: 1.5rem;
  }
  .header-nav-social-link {
    font-size: 3rem;
  }
  .header-nav-list.active {
        display: flex;
        flex-direction: column;
        opacity: 1;
        padding: 5px;
        z-index: 1000;
}
.main-quote-link {
    font-size: 1.2rem;
}
.header-nav-close {
    width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
}
.header-nav-logo {
    max-width: 140px;
}
.main-header-nav-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
 }
 
@media screen and (max-width: 320px) and (orientation: landscape) {
    .header {
        position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    }
    .header-nav {
 display: flex;
        flex-direction: row;
        height: auto;
        justify-content: end;
        width: 100%;
  }
  .header-nav-toggle{
    height: 2rem;
    width: 3.5rem;
    text-align: center;
            display: block;
  }
   .header-nav-list {
    display: none; /* Hide menu by default */
flex-direction: column;
position: absolute;
top: 50px; /* Position below header */
left: 0;
width: 100%; /* Full-width menu */
background-color: #333;
z-index: 1000; /* Ensure it appears above content */
padding: 10px 0;
border-top: 1px solid #555; /* Optional styling */
gap: 1rem;
  }
  .main-link-view, .main-link {
    font-size: 1.5rem;
  }
  .header-nav-social-link {
    font-size: 3rem;
  }
  .header-nav-list.active {
        display: flex;
        flex-direction: column;
        opacity: 1;
        padding: 5px;
        z-index: 1000;
}
.main-quote-link {
    font-size: 1.2rem;
}
.header-nav-close {
    width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
}
.header-nav-logo {
    max-width: 140px;
}
.main-header-nav-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
    .header {
        position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    }
    .header-nav {
 display: flex;
        flex-direction: row;
        height: auto;
        justify-content: end;
        width: 100%;
  }
  .header-nav-toggle{
    height: 2rem;
    width: 3.5rem;
    text-align: center;
            display: block;
  }
   .header-nav-list {
    display: none; /* Hide menu by default */
flex-direction: column;
position: absolute;
top: 50px; /* Position below header */
left: 0;
width: 100%; /* Full-width menu */
background-color: #333;
z-index: 1000; /* Ensure it appears above content */
padding: 10px 0;
border-top: 1px solid #555; /* Optional styling */
gap: 1rem;
  }
  .main-link-view, .main-link {
    font-size: 1.5rem;
  }
  .header-nav-social-link {
    font-size: 3rem;
  }
  .header-nav-list.active {
        display: flex;
        flex-direction: column;
        opacity: 1;
        padding: 5px;
        z-index: 1000;
}
.main-quote-link {
    font-size: 1.2rem;
}
.header-nav-close {
    width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
}
.header-nav-logo {
    max-width: 100px;
}
.main-header-nav-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
}
