.quote-container {
  padding: 3rem 1.5rem;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgb(192, 211, 52),
    rgb(255, 127, 0),
    rgb(252, 6, 180),
    rgb(146, 93, 185),
    rgb(35, 184, 190)
  );
}

.quote-container h1 {
  font-size: 2.5rem;
  font-family: "EtruscoNowCondensed";
  margin-bottom: 1rem;
}
.service-container {
  background: linear-gradient(
    to bottom,
    rgb(192, 211, 52),
    rgb(255, 127, 0),
    rgb(252, 6, 180),
    rgb(146, 93, 185),
    rgb(35, 184, 190)
  );
}
.quote-container label {
  text-align: left;
}
.service-title-h1 {
  font-size: 2.7rem;
  margin-bottom: 1rem;
  font-family: "EtruscoNowCondensed";
  text-align: center;
}
.legend-service {
  font-size: 1.2rem;
  color: rgb(37, 32, 26);
  text-align: left;
  font-family: "Bank Sans EF Condensed";
}
.legend-apply {
  font-size: 1rem;
  color: rgb(37, 32, 26);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.service-intro {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Bank Sans EF Condensed";
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.service-card-container li {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.service-card-container {
  background: rgb(0, 0, 0);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 350px;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 0 auto;
}
.service-cta p {
  font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.service-card-container img {
  width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
}

.service-card-container h2 {
  font-family: "Bank Sans EF Condensed";
  font-size: 1.6rem;
  color: rgb(35, 184, 190);
  margin-bottom: 0.5rem;
}

.service-card-container p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: rgb(192, 211, 52);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.quote-service-button {
  display: inline-block;
    background-color:rgb(146, 93, 185);
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.quote-service-button:hover {
  background-color: rgb(113, 72, 143);
}
.service-card-container ul {
  list-style: none;
  padding-left: 0;
  font-size: 0.95rem;
  line-height: 1.6;
  color:  rgb(252, 6, 180);
}

.service-cta {
  margin-top: 3rem;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
}

.service-cta h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "EtruscoNowCondensed";
}

.service-cta p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #333;
}
.service-express-container {
      background: linear-gradient(
    to bottom,
    rgb(192, 211, 52),
    rgb(255, 127, 0),
    rgb(252, 6, 180),
    rgb(146, 93, 185),
    rgb(35, 184, 190)
  );
}
.quote-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1100px;
  margin: 2rem auto;
  border: #333 solid 1px;
  padding: 2rem;
  border-radius: 12px;
  background-color: #e0e0e0;
}


.quote-form label {
  display: flex;
  flex-direction: column;
  font-family: "Bank Sans EF Condensed";
  font-size: 1rem;
  margin: 20px 0;
  color: #333;
}

.quote-form input,
.quote-form select,
.quote-form textarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 0.25rem;
}

.quote-form textarea {
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

.service-detail-title {
  font-size: 2rem;
  font-family: "EtruscoNowCondensed";
  margin-bottom: 1rem;
  color: black;
  text-align: center;
}
.service-detail-intro {
    font-size: 1.2rem;
  margin-bottom: 2.5rem;
  color: black;
  font-family: "Bank Sans EF Condensed";
  text-align: center;
}
.fill-info {
    font-size: 1.2rem;
  margin-bottom: 2.5rem;
  color: black;
  font-family: "Bank Sans EF Condensed";
  text-align: center;
}
.submit-button-wrapper {
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liability-section {
  margin-top: 2rem;
  padding: 1.5rem;
  background: #fff;
  border: 2px solid #333;
  border-radius: 10px;
}
.liability-title {
  font-family: "EtruscoNowCondensed";
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.liability-checkbox {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  font-family: Arial, sans-serif;
  text-align: left;
}
.signature-label {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.signature-label input {
  margin-top: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}
.important-note, .error-message, .submission-error-message {
      color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-toast.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-toast {
    margin-top: .5rem;
    font-size: 1rem;
    padding: .75rem 1rem;
    border-radius: 8px;
    width: fit-content;
    max-width: 90%;
    text-align: center;
    animation: fadeIn .3s ease;
}
.custom-toast.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  font-family: Arial, Helvetica, sans-serif;
}
.condition-note {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  color: #333;
  font-family: "Bank Sans EF Condensed";
  text-align: center;
}
.travel-note {
  font-size: 1rem;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.ceramic-coating-note {
  background: #f6f9ff;
  padding: 1rem;
  margin-top: 1rem;
  border-left: 4px solid #0066cc;
  border-radius: 6px;
}

.ceramic-title {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  color: #004080;
}

.ceramic-list {
  margin: 0;
  padding-left: 1rem;
  list-style: disc;
}
.liability-section label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 575;
}
.liability-intro {
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .service-card-container {
    max-width: 250px;
  }
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
  .service-card-container {
    max-width: 200px;
  }
  .services-wrapper {
    gap: 1rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
  .liability-section label {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
  .service-title-h1 {
    font-size: 2.3rem;
  }
  .service-intro {
    font-size: 0.8rem;
  }
  .service-cta h3 {
    font-size: 1.5rem;
  }
  .service-cta p {
    font-size: 0.9rem;
  }
  .quote-service-button {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
  .service-title-h1 {
    font-size: 2.3rem;
  }
  .service-intro {
    font-size: 0.8rem;
  }
  .service-cta h3 {
    font-size: 1.5rem;
  }
  .service-cta p {
    font-size: 0.9rem;
  }
  .quote-service-button {
    font-size: 0.7rem;
  }
  .quote-container h1 {
    margin-bottom: 0.2rem;
    font-size: 2rem;
  }
  .service-detail-intro {
    font-size: 0.8rem;
  }
  .fill-info {
    font-size: 0.8rem;
  }
  .quote-form label {
    margin: 0;
    font-size: 0.6rem;
  }
  .legend-service {
    font-size: 1rem;
  }
  .legend-apply {
    font-size: 0.7rem;
  }
  .quote-form input, .quote-form select, .quote-form textarea  {
    font-size: 0.6rem;
  }
  .liability-section {
    padding: 0;
  }
  .service-summary li {
    list-style: none;
  }
  .important-note, .error-message, .submission-error-message {
    font-size: 10px;
  }
 
}
