.testimonials-container {
    background: linear-gradient(
    to right,
    rgb(192, 211, 52),
    rgb(255, 127, 0),
    rgb(252, 6, 180),
    rgb(146, 93, 185),
    rgb(35, 184, 190)
    );
    margin: 0 auto;
    text-align: center;
}
.testimonials-h1 {
  font-size: 2.5rem;
  font-family: "EtruscoNowCondensed";
  margin-bottom: 1rem;
  text-align: center;
}
.testimonial-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1100px;
  margin: 2rem auto;
  border: #333 solid 1px;
  padding: 2rem;
  border-radius: 12px;
  background-color: #e0e0e0;
}
.testimonial-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}
.testimonial-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.testimonial-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.testimonial-form button:hover {
    background-color: #0056b3;
}
.testimonial-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.testimonial-form label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    text-align: left;
}
.recents {
    font-size: 2rem;
    font-family: "EtruscoNowCondensed";
}
.testimonials-p {
    font-family: "Bank Sans EF Condensed", sans-serif;
    font-size: 1.25rem;
    line-height: 1.8;
    color: #161616;
    margin-bottom: 1.5rem;
    text-align: center;
}
.grecaptcha-badge {
  visibility: visible !important;
  opacity: 1 !important;
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
.review-list {
    gap: 0.7rem;
}
.testimonial-form {
    max-width: 800px;
}
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
.review-list {
    gap: 0.2rem;
    flex-wrap: nowrap;
}
.testimonial-form {
    max-width: 600px;
}
}
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
    .review-test-card {
        padding: 0;
    }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
.review-test-card {
        padding: 0;
    }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
.review-test-card {
        padding: 0;
    }
}
